snippet fieldset "Fieldset with legend" !b
fieldset
	legend ${1}
endsnippet

snippet if "If statement" !b
- if ${1}
	${2}
endsnippet

snippet ife "If else statement" !b
- if ${1}
	${2}
- else
	${3}
endsnippet
