snippet bun "Bundle package manager" !b
Bundle '${1}'
endsnippet

snippet header "Comment header" !b
"  ${1}                                                                     {{{1
" ------------------------------------------------------------------------------
endsnippet


